@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');
@import "./utils/variables";

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.navbar-style {
  background: $mainGreyBackground;
}

.remove-btn {
  margin-right: .5rem;
}

.add-btn {
  background-image: $mainGreyBackground;
	border-radius: 40px;
  box-sizing: border-box;
	color: #343a40;
	display: block;
  font-size: .7rem;
  letter-spacing: 1px;
  font-weight: bold;
	height: 39px;
	margin: 0 auto;
	padding: 1px;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
  border: none;
}

.add-btn span {
  align-items: center;
	background: #ffffff;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	height: 100%;
  width: 100%;
  transition: background .1s ease;
}

.add-btn:hover span {
  color: white;
  background-color: transparent;
}

// ANIMATIONS
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}